* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.login-container, .account-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
}

.login-container h2, .account-container h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-container button:hover {
    background-color: #2e7bb7;
}

.feed {
    width: 100%;
}

.feed h2 {
    margin-bottom: 15px;
    font-size: 1.8em;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photos img {
    width: calc(33% - 10px); /* 3 images per row with some space */
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.photos img:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3897f0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #2e7bb7;
}
